# http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
indent_style = space # Don't use tabs for indentation.
tab_width = 4
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

### CSharp code style settings ###
[*.cs]

# New line preferences
end_of_line = lf
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = false #this keeps formatting new arrays in code on multiple lines (one line per entry)
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = false
csharp_indent_labels = no_change
csharp_indent_switch_labels = true

# Space preferences
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# Blocks are allowed
csharp_prefer_braces = true:warning
csharp_preserve_single_line_blocks = false
csharp_preserve_single_line_statements = false

# Symbol naming
## styles:
dotnet_naming_style.camel_case.capitalization = camel_case
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_naming_style.underscore_camel_case.capitalization = camel_case
dotnet_naming_style.underscore_camel_case.required_prefix = _
dotnet_naming_style.s_underscore_camel_case.capitalization = camel_case
dotnet_naming_style.s_underscore_camel_case.required_prefix = s_

## public type names, namespaces:
dotnet_naming_symbols.public_types_namespaces.applicable_kinds = class, struct, enum, delegate, namespace
dotnet_naming_symbols.public_types_namespaces.applicable_accessibilities = public, internal, protected, protected_internal
dotnet_naming_rule.public_types_namespaces.severity = warning
dotnet_naming_rule.public_types_namespaces.symbols = public_types_namespaces
dotnet_naming_rule.public_types_namespaces.style = pascal_case

## private instance fields:
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private, protected, private_protected
dotnet_naming_rule.private_instance_fields.severity = warning
dotnet_naming_rule.private_instance_fields.symbols = private_fields
dotnet_naming_rule.private_instance_fields.style = underscore_camel_case

## private static fields:
dotnet_naming_symbols.static_private_fields.applicable_kinds = field
dotnet_naming_symbols.static_private_fields.applicable_accessibilities = private, protected, private_protected
dotnet_naming_symbols.static_private_fields.required_modifiers = static
dotnet_naming_rule.private_static_fields.severity = warning
dotnet_naming_rule.private_static_fields.symbols = static_private_fields
dotnet_naming_rule.private_static_fields.style = s_underscore_camel_case

## local functions:
dotnet_naming_symbols.local_funcs.applicable_kinds = local_function
dotnet_naming_rule.local_funcs.severity = warning
dotnet_naming_rule.local_funcs.symbols = local_funcs
dotnet_naming_rule.local_funcs.style = camel_case

# etc:
dotnet_analyzer_diagnostic.severity = none
dotnet_diagnostic.OVR013.severity = warning

# else
charset = utf-8
max_line_length = 200
